.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header-container,
.main-nav,
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.main-nav {
  flex-grow: 1;
}

.logo {
  font-family: var(--logo-font-family);
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  gap: 40px;
}

.nav-list-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  gap: 40px;
}

.address-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
